/**

    Written by Evan Honnold

    This section contains CSS that should apply only to the "current plan"
    section of the main screen.  To narrow the CSS's scope, I'm only using 
    custom classes as identifiers. 

**/

/* In the "Current Plan" section, holds the name of a term
and the classes listed under that term */
.term-listing-container {
    display:flex;
    margin-bottom:5px;
}

/* The thing that says, e.g., "Fall 2017" */
.term-listing-term-name {
    width:62px;
    padding-right:5px;
    padding-left:5px;
    display:flex;
    flex-direction: column;
    border-right:1.5px solid;
    border-color: #333;
}

.term-listing-term-name-text{
    font-size: 90%;
    color: #333;
    font-family: 'ApexNewMed','Arial',Sans-serif;
    text-transform: uppercase;
    font-weight:normal;
    text-align:right;
}

.term-listing-courses-container {
    flex: 1;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    padding-left:5px;
    padding-right:5px;
}

.course-box{
    /* background-color: #E0E0E0; */
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-left:3px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:2px;
    font-family: 'ApexNewBook',Arial,Sans-serif;
    font-size:85%;
}

.course-box-divider {
    height: 2px;
}