/**

    Written by Evan Honnold

    This section contains CSS that should apply only to the "current plan"
    section of the main screen.  To narrow the CSS's scope, I'm only using 
    custom classes as identifiers. 

**/

/* In the "Current Plan" section, holds the name of a term
and the classes listed under that term */
.term-listing-container {
    display:flex;
    margin-bottom:5px;
}

/* The thing that says, e.g., "Fall 2017" */
.term-listing-term-name {
    width:62px;
    padding-right:5px;
    padding-left:5px;
    display:flex;
    flex-direction: column;
    border-right:1.5px solid;
    border-color: #333;
}

.term-listing-term-name-text{
    font-size: 90%;
    color: #333;
    font-family: 'ApexNewMed','Arial',Sans-serif;
    text-transform: uppercase;
    font-weight:normal;
    text-align:right;
    user-select:none;
}

.term-listing-courses-container {
    flex: 1;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    padding-left:5px;
    padding-right:5px;
}

.course-box{
    background-color: #C8E6C9;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-left:3px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:2px;
    font-family: 'ApexNewBook',Arial,Sans-serif;
    font-size:85%;
    flex:1;
    user-select:none; 
}

.course-box-floater {
    position:absolute;
    width:325px;
    height:20px;
}

.course-slot{
    min-height:20px;
    background-color:#EEEEEE;
    display:flex;
}

/* applied to course slots when the element in them 
   is being dragged but hasn't been put down yet */
.dragged-course-slot {
    background-color:#E8F5E9;
}

.highlighted-course-slot {
    background-color: #FAFAFA;
}

.course-slot-background {
    font-size:85%;
    font-style:italic;
    color: #9E9E9E;
    display:inline-block;
    vertical-align:middle;
    padding-left:5px;
    user-select:none;
}

.course-box-divider {
    height: 2px;
}