h1{
  color: #333;
  font-size: 160%;
  font-family: 'ApexSerifBook','Georgia', serif;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

h4{
  color: #333;
  font-size: 120%;
  font-family: 'ApexSerifBook','Georgia', serif;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}
