/**

This file contains some of the CSS for the main
screen.  It doesn't contain all the CSS - some is inline
in the HTML document.

Some other CSS is located in current-plan.css, but
this shouldn't cause a problem as that CSS uses only
custom classes as identifiers, so it shouldn't
affect the other sections.

**/

divider {
    padding-right: 20px;
    padding-left: 20px;
}

h1 {
    color:#333;
    font-size: 160%;
    font-family: 'ApexSerifBook','Georgia', serif;
    font-weight: normal;
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-align:center;
}

h2 {
   color:#333;
   font-size: 160%;
   font-family: 'ApexSerifBook','Georgia', serif;
   font-weight: normal;
   margin-top:0.5em;
   margin-bottom:0.5em;
   text-align:center;
}

h3 {
   color:#333;
   font-size: 160%;
   font-family: 'ApexSerifBook','Georgia', serif;
   font-weight: normal;
   margin-top:0.5em;
   margin-bottom:0.5em;
   text-align:center;
}

.department-dropdown-holder{
    display:flex;
    flex:1;
    background-color:#BDBDBD;
    font-family:'ApexNewBook',Arial,Sans-serif;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:5px;
    font-size:95%;
}

#department-dropdown-button{
    background-color:#BDBDBD;
    border:none;
    outline:0;
}

#department-dropdown-contents{
    padding:5px;
    position:absolute;
    z-index:1;
    background-color:#F5F5F5;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display:none;
}

#department-dropdown-contents > div {
    font-family:'ApexNewBook',Arial,Sans-serif;
    font-size:90%;
}

#browser-class-listing-container > div {
    margin-top:2px;
}

.course-browser-container{
    flex-direction:column;
    margin-left:5px;
    margin-right:5px;
    display:flex;
    flex:1;
}

.info-box{
    background-color: #ffffff;
    white-space:pre-wrap;
    overflow: hidden;
    margin-left:5px;
    margin-right:5px;
    font-family: 'ApexSerifBook','Georgia', serif;
    font-weight: normal;
}


/* Dropdown Button */
.dropbtn {
    font-family: 'ApexSerifBook','Georgia', serif;
    font-weight: normal;
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    display: block;
    font-size: 20px;
    border: 2px solid black;
    cursor: pointer;
    width: 99%;
    margin-left: 2px;
    margin-right: 4px;
    text-align:center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: 5px;
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.main-out-container{
  max width: 900px;
  height: 700px;
  margin: 0 auto;
  display: flex;
    /*flex-direction: column;*/
}

.first {
  /*background-color: #c0dbe2;*/
  flex:1;
  flex-basis: 75%;

}

.second{
  /*background-color: yellow;*/
  flex:1;
}

.first-1{
    background-color:#BDBDBD;
    flex:1;
    /*width: 250px;*/
    width:auto;
    height: 40px;
    margin-right: 10px;

}

.first-a{
    background-color:#E0E0E0;
    flex:1;
    /*width: 250px;*/
    width:auto;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;

}

.first-b{
  background-color: #E0E0E0;
    flex:1;
    /*width: 250px;*/
    width:auto;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;

}

.first-c{
  background-color: #E0E0E0;
    flex:1;
    /*width: 250px;*/
    width:auto;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.first-d{
  background-color: #E0E0E0;
    flex:1;
    /*width: 250px;*/
    width:auto;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.first-e{
  background-color: #E0E0E0;
    flex:1;
    /*width: 250px;*/
    width:auto;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.second-1{
    background-color:#BDBDBD;
    flex:1;
    /*width: 250px;*/
    width:auto;
    height: 40px;

}

.second-a{
  background-color: #E0E0E0;
    flex:1;
    width:auto;
    margin-top: 10px;
    height: 40px;

}

.second-b{
  background-color: #E0E0E0;
    flex:1;
    width:auto;
    height: 40px;
    margin-top: 10px;

}

.second-c{
  background-color: #E0E0E0;
    flex:1;
    width:auto;
    height: 40px;
    margin-top: 10px;

}

.second-d{
  background-color: #E0E0E0;
    flex:1;
    width:auto;
    height: 40px;
    margin-top: 10px;

}

.second-e{
  background-color:#E0E0E0;
    flex:1;
    width:auto;
    height: 40px;
    margin-top: 10px;

}

/*requirements box*/
.main-distrib-container{
  background-color: #E0E0E0;
  flex:1;
  width:auto;
  height: 320px;
  margin-top: 10px;

}

/*.main {
  background-color: #c0dbe2;
  flex:1;
  flex-basis: 75%;

}*/

.distrib-box1{

    background-color:#c0dbe2;
    flex:1;
    /*flex-basis: 75%;*/
    /*width: 250px;*/
    width:auto;
    height: 40px;
    margin-right: 10px;
}

.distrib-box2{
  background-color:#c0dbe2;
  flex:1;
  /*flex-basis: 25%;*/
  /*width: 250px;*/
  width:auto;
  height: 40px;
  margin-right: 10px;

}
