/**

This file contains some of the CSS for the main
screen.  It doesn't contain all the CSS - some is inline 
in the HTML document. 

Some other CSS is located in current-plan.css, but
this shouldn't cause a problem as that CSS uses only
custom classes as identifiers, so it shouldn't 
affect the other sections. 

**/

h1 {
    color:#333;
    font-size: 160%;
    font-family: 'ApexSerifBook','Georgia', serif;
    font-weight: normal;
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-align:center;
}

h2 {
   color:#222;
   font-size: 300%;
   font-family: 'ApexSerifBook','Georgia', serif;
   font-weight: normal;
   width: 100%;
   padding: 100px;
   margin: auto;
   margin-top:0.5em;
   margin-bottom:0.5em;
}

.course-box{
    background-color: #E0E0E0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-left:100px;
    padding-right:3px;
    padding-top:2px;
    padding-bottom:2px;
    font-family: 'ApexNewBook',Arial,Sans-serif;
    font-size:85%;
}

.info-box{
    background-color: #757575;
    text-overflow: ellipsis;
    overflow: hidden;
}

.course-listing-container {
    text-overflow:ellipsis;
    display:flex;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
}

.course-listing-courses-container {
    background-color: #BDBDBD;
    text-overflow:ellipsis;

    flex: 1;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    max-width: 150px;
    min-width: 150px;
    max-height: 110px;
    min-height: 110px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: auto;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}